
@import "variables";

.postContainer{
  display: flex;
  margin: 1.8rem auto;
  padding: 0.5rem 2rem;
  align-items: center;
  background: $secondaryBackground;
  border-radius: 20px;
  transition: 0.2s ease-in;
  border: 2px solid transparent;
  max-width: 65%;

  &:hover{
    filter: brightness(1.1);
    border-color: $secondaryBackground;
  }

  @media screen and (max-width: $medium) {
    flex-direction: column;
  }

}

.postImageContainer{
  margin-right: 20px;
}

.postImage{
  height: 150px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.postTitle{
  color: $primaryTitle;
  cursor: pointer;

  &:hover{
    color: $buttonColor;
  }
}

.postButton{
  @extend .button;
  display: block;
  width: fit-content;
  font-size: 0.85rem;
}