
@import "variables";

.loginContainer{
  background: $secondaryBackground;
  min-width: max-content;
  max-width: 20rem;
  padding: 1rem 3rem 2rem;

  margin: 5rem auto 0 auto;
  border-radius: 20px;

  h2{
    margin: 0;
  }

  input{
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    background: $primaryBackground;
    border: 1px solid $buttonColor;
    border-radius: 20px;
    font-size: 1.4rem;
    height: 2.5rem;
    outline: none;
    width: 100%;
    padding: 0 1rem;
    color: $primaryText;
    -webkit-box-sizing: border-box;

    @media screen and (max-width: $medium) {
      font-size: 0.8rem;
      height: 2rem;

    }
  }
}