//Color Variables
$primaryBackground: #1c1c1c;
$secondaryBackground: #2d2d2d;
$primaryTitle: #ffffff;
$primaryText: #d6d7d3;
$buttonColor: #8900ff;

//Screen Size Variables
$medium: 700px;

//Sizes
$footerSize: 3rem;


//Global classes
.primaryText{
  color: $primaryTitle;
}

.centerText{
  text-align: center;
}

.page{
  min-height: calc(100vh - #{$footerSize});
}

.button{
  background: transparent;
  border-radius: 10px;
  border: 2px solid $buttonColor;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: 0.2s ease-out;
  cursor: pointer;
  width: max-content;

  &:hover{
    background: $buttonColor;
  }
}

.mr-1{
  margin-right: 1rem;
}
.mr-2{
  margin-right: 2rem;
}